/* styles.css */
body {
    background-color: #ffffff;
    background-image: url(hrrdmtjjey311.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    aspect-ratio: 16 / 9;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    margin: 0;
}

.bg-image {
    background-color: rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  
}

.background-container {
  position: relative; /* Container for positioning context */
  height: 100vh;
  overflow: hidden; /* Hides blurred edges */
}

.blurred-bg {
  position: absolute;
  inset: 0; /* Shorthand for top: 0; right: 0; bottom: 0; left: 0; */
  background: url(64229721dd25b3f9e66b5eb71e817834.jpg) no-repeat center /cover;

  filter: blur(5px); /* Apply the blur to the background element */
  z-index: -1; /* Puts the background layer behind the content */
  transform: scale(1.1); /* Scales up to hide any white edges caused by the blur */
   aspect-ratio: 16 / 9;
   
}


.terminal {
    width: 80%;
    max-width: 800px;
    background-color: #ffffff;
    border: 2px solid #555;
    padding: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.575);
    color: #ff81b6;
    overflow: hidden;
    
}

.window-bar {
  margin-top: -20px; 
  margin-left: -20px;
  margin-right: -20px;

  width: calc(100% + 40px); 
  
  height: 25px;
  
  background-color: #ffffff;
  border-radius: 1px;
  position:  calc(center);
  border-bottom: #555 solid 2px;
  display: flex;
  justify-content: flex-end; /* Pushes children to the right */
  align-items: center; 
  
  
}

.window-bar-buttton {
  background-color: #ffffff00;
  border-radius: 1px;
  position:  calc(center);
  border: #555 solid 2px;  
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
  color: #ff81b6;
  font-size: 15px;
  font-weight: bold;
}

.output {
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 10px;
    white-space: pre-wrap;
}

.input {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ffffff;
    color: #ff81b6;
    font-family: 'Courier New', Courier, monospace;
}

.output {
    height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
    white-space: pre-wrap;
    color: #ffafd0; /* Light text color for output */
}

.input-container {
    display: flex;
    align-items: center;
}

.prompt {
    user-select: none; /* Prevent text selection */
    color: #c07c98; /* Green color for prompt */
}

.input {
    width: 100%;
    padding: 5px;
    border: none;
    background-color: transparent;
    color: #ff81b6; /* Light text color for input */
    font-family: 'Courier New', Courier, monospace;
    outline: none;
}

.input::placeholder {
    color: #666; /* Placeholder color */
}